@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
}

a {
  text-decoration: none;
}

.social-share-btns-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  font-size: 0;
  top: 50%;
  margin: -30px 0;
  text-align: center;
  width: 100%;
  z-index: 111;
}

.social-share-btns {
  display: inline-block;
  overflow: hidden;
}
.social-share-btns .share-btn {
  float: left;
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.social-share-btns .share-btn i {
  margin-right: 5px;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.share-btn {
  background-color: #95a5a6;
}
.share-btn:hover {
  background-color: #798d8f;
}

.share-btn-twitter {
  background-color: #00aced;
}
.share-btn-twitter:hover {
  background-color: #0087ba;
}

.share-btn-facebook {
  background-color: #3b5998;
}
.share-btn-facebook:hover {
  background-color: #2d4373;
}

.share-btn-send {
  background-color: #007bb6;
}
.share-btn-send:hover {
  background-color: #005983;
}

.share-btn-reddit {
  background-color: #075e54;
}
.share-btn-reddit:hover {
  background-color: #25d366;
}

.share-btn-mail {
  background-color: #D44638;
}
.share-btn-mail:hover {
  background-color: #B23121 ;
}

.credits {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 1111;
  letter-spacing: 0.04em;
  font-size: 10px;
  text-transform: uppercase;
}
.credits a {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 4px 4px;
  text-decoration: none;
}
.credits a:hover {
  color: #fff;
}